// Babel requires only JSON so, we can't use js object.

// {
//     "plugins": [ ["transform-remove-console", { "exclude": [ "error", "warn"] }] ]
//   }
// {
//   "plugins": [
//     ["transform-remove-console", { "exclude": ["error", "warn", "log"] }]
//   ]
// },


// {
//   "presets": [
//     ["@babel/preset-env", { "targets": { "node": "current" } }],
//     ["@babel/preset-react", { "runtime": "automatic" }]
//   ] // I wrote this config because I want to use import in js file.
// }


// {
//   "presets": [
//     [ "@parcel/babel-preset-env", {
//       "targets": {
//         "node": "current"
//       },
//       "useBuiltIns": "entry",
//       "corejs": 3
//     }]
//   ],
//   "plugins": [
//     "@babel/plugin-syntax-dynamic-import"
//   ]
// }

{
  "plugins": ["@emotion/babel-plugin"]
}
